# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data
data/raw/
data/processed/

# Large model files
*.bin
*.pt
*.pth
*.ckpt

# Environment
.env
